th {
    text-align: left;
}
th:nth-child(4) {
    text-align: center;
}
#tablaAgua td:nth-child(3),
#tablaOrina td:nth-child(3), 
#tablaAgua td:nth-child(4),
#tablaOrina td:nth-child(4) {
    font-weight: bold;
}

#tablaAgua td:nth-child(4),
#tablaOrina td:nth-child(4) {
    text-align: center;
}
#tablaOrina tr, #tablaAgua tr {
    border-bottom: 1px solid #e5e7eb75;
}
.justify-around {
    justify-content: space-between !important;
}